<div class="row">
  <div class="col-11 col-md-9 mx-auto border border-dark border-dark target-show px-5 pt-5 pb-4 mt-5">
    <div class="row">
      <div class="col-2 col-md-1">
        <%= link_to member_path(@target.member) do %>
          <%= image_tag @target.member.get_profile_image, size: "50x50", class: "rounded-circle border" %>
        <% end %>
      </div>
      <div class="col-8 col-md-4">
        <%= @target.member.name %><br>
        <%= "投稿日：" + @target.created_at.strftime("%Y月%m日%d日") %><br>
        お気に入り数：<%= @target.favorites.count %><br>
        タスク投稿数：<%= @target.tasks.count %><br>
        コメント投稿数：<%= render "public/comments/counter", target: @target %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <h3><%= @target.goal %></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p><%= safe_join(@target.reason.split("\n"),tag(:br)) %></p>
        <p>【開始日】<%= @target.start_date.strftime("%Y月%m日%d日") %> ～【達成日】<%= @target.end_date.strftime("%Y月%m日%d日") %></p>
      </div>
    </div>

    <!--タスク一覧-->
    <div class="row mt-5">
      <h3>タスク</h3>
    </div>
    <div class="row">
      <div class="col-12 target-tasks">
        <%= render "admin/tasks/index", task: @target %>
      </div>
    </div>

    <!--コメント一覧-->
    <div class="row mt-5">
      <h3>コメント</h3>
    </div>
      <div class="row">
        <div class="col-12 target-comments">
          <%= render "admin/comments/index", comment: @target %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-9 mx-auto my-4">
    <%= link_to "投稿を削除", admin_target_path(@target), method: :delete, data: { confirm: "目標「#{@target.goal}」を削除します。"},  class: "btn btn-outline-danger btn-block col-6 col-md-3 mx-auto" %>
  </div>
</div>
