<div class="row">
  <div class="col-10 mx-auto mt-5 admin-table-wrap">
    <h5><strong>会員一覧</strong></h5>
    <table class="table table-bordered admin-table mt-4">
      <thead>
        <tr class="text-center">
          <th class="col-1">ID</th>
          <th class="col-3">会員</th>
          <th class="col-1">目標</th>
          <th class="col-1">タスク</th>
          <th class="col-2">ステータス</th>
          <th class="col-2">詳細ページ</th>
        </tr>
      </thead>
      <tbody>
        <% @members.each do |member| %>
          <tr>
            <td class="text-center"><%= member.id %></td>
            <td class="text-center"><%= member.name %></td>
            <td class="text-center"><%= member.targets.count %></td>
            <td class="text-center"><%= member.tasks.count %></td>
            <td class="text-center">
              <% if member.is_deleted %>
                <p class="m-0">退会</p>
              <% else %>
                <p class="text-success m-0">有効</p>
              <% end %>
            </td>
            <td class="text-center"><%= link_to "＋", admin_member_path(member), class: "btn btn-sm btn-outline-secondary" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>