<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-6 offset-md-3 my-4 mt-5">
      <div style="text-align:center;">
        <h5 class="text-center"><strong>管理者ログイン</strong></h5>
        <hr class="mt-2">
      </div>

      <%= form_with model: @admin, url: new_admin_session_path do |f| %>
        <div class="col-md-8 offset-md-2">
          <div class="field mb-4 mt-5">
            <%= f.label :email, "メールアドレス" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>
          <div class="field mb-4">
            <%= f.label "パスワード" %>
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
          </div>
          <div class="actions text-center mb-4 mt-5">
            <%= f.submit "ログイン", class: "btn btn-outline-secondary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
