<div class="row">
  <div class="col-10 mx-auto mt-5 admin-tasks">
    <h5><strong>タスク一覧</strong></h5>
    <table class="table table-bordered admin-table mt-4">
      <thead>
        <tr class="text-center">
          <th class="col-1">ID</th>
          <th class="col-3">会員</th>
          <th class="col-5">タスク</th>
          <th class="col-2">投稿日時</th>
          <th class="col-1">詳細</th>
        </tr>
      </thead>
      <tbody>
        <% @tasks.order(created_at: :desc).each do |task| %>
          <tr>
            <td class="text-center"><%= task.id %></td>
            <td class="text-center"><%= task.member.name %></td>
            <td class="text-left"><%= task.content %></td>
            <td class="text-center"><%= task.created_at.strftime('%Y-%m-%d %H:%M')  %></td>
            <td class="text-center">
              <%= link_to "＋", admin_target_path(task.target), class: "btn btn-sm btn-outline-secondary" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @tasks %>
  </div>
</div>