<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-6 offset-md-3 my-4 mt-5">
      <div style="text-align:center;">
        <h5 class="text-center"><strong>マイページ編集</strong></h5>
        <hr class="col-md-12 mt-2">
      </div>

      <% if @member.errors.any? %>
      <div class="alert alert-secondary">
      <%= @member.errors.count %>件エラーが発生しました。以下ご確認お願いいたします。
        <ul>
          <% @member.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <%= form_with model: @member, id: "memberEdit", url: update_information_path, local: true do |f| %>

      <div id="memberName" class="field mb-4 mt-5">
        <%= f.label :name, "名前" %>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control", id: "member_name" %>
      </div>
      <div id="memberEmail" class="field mb-4">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, autocomplete: "email", class: "form-control", id: "member_email" %>
      </div>
      <div class="field mb-4">
        <%= f.label :profile_image, "プロフィール画像（変更する場合は選択してください。）" %><br>
        <img id="preview" src="/assets/no_image.jpg" class="member-icon" style="width: 100px; height: 100px">
        <%= f.file_field :profile_image, accept: "image/*", onchange: "previewImage(this);" %>
      </div>
      <div id="memberSubmit" class="actions text-center mt-4">
        <%= f.submit "編集内容を保存", class: "btn btn-outline-secondary mr-5", id: "member_submit" %>
        <%= link_to "退会する" , confirm_unsubscribe_path, class: "btn btn-outline-danger ml-5 px-4" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!--JavaScriptで動的なバリデーション（リアルタイムでチェック）-->
<%= render "edit_validation" %>

<script>
  $('#member_profile_image').on('change', function (e) {
    var reader = new FileReader();
    reader.onload = function (e) {
        $("#preview").attr('src', e.target.result);
    }
    reader.readAsDataURL(e.target.files[0]);
  });
</script>