<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-6 offset-md-3 my-4 mt-5">
      <div style="text-align:center;">
        <h5 class="text-center"><strong>新規会員登録</strong></h5>
        <hr class="mt-2">
      </div>
      <div class="col-md-10 offset-md-1 mt-5">
        <div style="text-align:center;">
          <h6 class="text-center"><strong>既に登録済みの方</strong></h6>
          <hr class="col-md-4 mt-0">
          <h6 class="text-center"><strong><%= link_to "こちら", new_member_session_path %>からログインしてください。</strong></h6>
          <hr class="col-md-7 mt-2">
        </div>
      </div>

      <%= form_with model: @member, id: "registrationNew", url: member_registration_path, local: true do |f| %>
        <div style="text-align:center;">
          <% if @member.errors.any? %>
          <div class="alert alert-secondary">
          <%= @member.errors.count %>件エラーが発生しました。以下ご確認お願いいたします。
            <% @member.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </div>
          <% end %>
        </div>
        <div class="col-md-8 offset-md-2">
          <div id="registrationName" class="field mb-4 mt-5">
            <%= f.label :name, "名前" %>
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control", id: "registration_name" %>
          </div>
          <div id="registrationEmail" class="field mb-4">
            <%= f.label :email, "メールアドレス" %>
            <%= f.email_field :email, autocomplete: "email", class: "form-control", id: "registration_email" %>
          </div>
          <div id="registrationPasswordGroup">
            <div id="registrationPassword" class="field mb-4">
             <%= f.label :password, "パスワード" %>
              <% if @minimum_password_length %>
                <br><span class="text">※<%= @minimum_password_length %>文字以上で入力してください。</span>
              <% end %>
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control", id: "registration_password" %>
            </div>
            <div id="registrationPasswordConfirmation" class="field mb-4">
              <%= f.label :password_confirmation, "パスワード" %>
                <br><span class="note-text">※確認用です。</span></td>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", id: "registration_password_confirmation" %>
            </div>
          </div>
          <div class="field mb-4">
            <%= f.label :profile_image, "プロフィール画像" %><br>
            <img id="preview" src="/assets/no_image.jpg" class="member-icon" style="width: 100px; height: 100px">
            <%= f.file_field :profile_image, accept: "image/*", onchange: "previewImage(this);" %>
          </div>
          <div id="registrationSubmit" class="actions text-center mb-4 mt-5">
            <%= f.submit "新規登録", class: "btn btn-outline-secondary", id: "registration_submit" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!--JavaScriptで動的なバリデーション（リアルタイムでチェック）-->
<%= render "new_validation" %>

<script>
  $('#member_profile_image').on('change', function (e) {
    var reader = new FileReader();
    reader.onload = function (e) {
        $("#preview").attr('src', e.target.result);
    }
    reader.readAsDataURL(e.target.files[0]);
  });
</script>